$blue: #2980B9;
$grey: #D3D3D3;
html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.content {
  min-height: 95vh;
  margin-bottom: 0;
}

.activeNav {
  color: #555 !important;
  background-color: #e7e7e7 !important;

}
.jumbotron {
  background-color: $grey;
}
.banner {
  background-color: $blue;
  color: white;
  h2 {
    font:{
    size: 2.5em;
    family: 'Spectral SC', serif;
  }
    padding:{
     top: 1.5em;
     bottom: .1em;
  }
 }
 p {
   font:{
     size: 1.3em;
     family: 'Open Sans Condensed', sans-serif;
   }
 }
  button{
    margin-bottom: 2em;
  }
}

.card-default{
  color: white;
  background-color: $blue !important;
}
.card{
  background-color: $grey;
}
.panel {
  margin:{
    top: 2em;
    bottom: 2em;
  }
}


.signup{
  margin: {
    top: 30px;
    bottom: 30px;
  }
}

form {
 input {
  width: 100%;
  margin-top: -5px;
  border:{
    style: solid;
    width: thin;
    radius: 5px;
   }
 }
  label {
    margin-top: 5px;
  }
  button {
    margin-top: 15px;
    width: 30%;
  }
 }

#footer {
  width: 100%;
  background-color: #444;
  margin: {
    top: 0;
    bottom: 0;
  }
  height: 5vh;
  font:{
    size: 1.09em;
    family: 'Open Sans Condensed', sans-serif;
  }
  color: white;
  #icon {
    color: $blue;
  }
}

#error {
  color: red;
}
