$blue: #2980B9;

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.active{
   a {
  background-color: grey !important;
 }
}

.banner{
  background-color: $blue;
  color: white;
  h2 {
    font:{
    size: 2.5em;
    family: 'Spectral SC', serif;
  }
    padding:{
     top: 1.5em;
     bottom: .1em;
  }
 }
 p {
   font:{
     size: 1.3em;
     family: 'Open Sans Condensed', sans-serif;
   }
 }
  button{
    margin-bottom: 2em;
  }
}
.card-default{
  color: white;
  background-color: $blue !important;
}
.panel {
  margin:{
    top: 2em;
    bottom: 2em;
  }
  li{
    background-color: $blue;
    color: white;
    padding: .7em;
    border-radius: 10px;
    margin: .3em;
  }
  height: 44.5vh;
}
#footer{
  background-color: #444;
  margin-bottom: 0;
  font:{
    size: 1.09em;
    family: 'Open Sans Condensed', sans-serif;
  }
  color: white;
  #icon {
    color: $blue;
  }
}
